@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Outfit:wght@200;300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --color-brand-accent: #8EA1AC;
  --color-brand-muted: #AAB5BC;
  --color-brand-bg: #050505;
  --color-brand-bg-sec: #0B0B0B;
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: var(--font-sans);
  overflow: hidden;
  margin: 0;
  padding: 0;
}
